doctype html
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="stylesheet/stylesheet.css")
    link(rel="icon", href="images/r2d2.ico")
    title Build a Random Quote Machine
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            p.cover-heading.quote
              | A long time ago in a galaxy far, 
              br
              | far away....
            p.lead.character
            p.lead
              button.btn.btn-lg.btn-default.btn-force Use the Force
              a.twitter
                button.btn.btn-lg.btn-default.btn-tweet Tweet
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="js/twitter.js")
    script(src="js/quotes-coffee.js")